* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* utility */
.text-center {
  text-align: center;
}

/* Styles */
main {
  background-color: #333;
  color: #eee;
  min-height: 100vh;
  padding: 20px;
}
